<% content_for :title do %>
 @title
<% end %>
<% content_for :menu_sub do %>
<%= render :partial => 'shared/menu_sub' %>
<% end %>
<h1>Catalogs#upload</h1>
<p>Find me in app/views/catalogs/upload.html.erb</p>
